* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
}


.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-ligh);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
}


body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: 'Castoro Titling', cursive;
font-family: 'Darumadrop One', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  
  
}

#switch button {
  width: 32px;
  height: 32px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: slide-out 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#nome {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  display: block;
  margin: 20px;
  text-decoration: none;
  
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

ul li a {
  border: 1px solid red ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 16px 24px;
  background:  var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
  margin: 8px;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

footer {
  padding: 24px 0;
  text-align: center;
}

@keyframes slide-in {
  from{
    left: 0;
  }
  to{
    left: 50%;
  }

}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}